*.log
*.tx
*.block
network/crypto-config/
*.tar.gz
*.pem
**/node_modules/
**/wallet/
**/__pycache__
seed.txt
address.txt
*.rd.conf
helper.txt
.DS_Store
peerclient/kitkat.dark.mal
.vscode/
*.tar
test.py
docker_compose_test.yml 
tests/peers_ports.json
core/peers_ports.json